#entry {
	background-image: url(./images/nickyb.png);
	display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-image: url('./images/nickyb.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -29px;
}
/* @media (max-width: 898px) {
    #entry {
        background-position-y: -29px;
    }
} */



img {
    height: 100%;
}
